@inherits LayoutComponentBase

<PageTitle>DeliArg</PageTitle>

<div class="container">
    <div class="siteheader">
        <a href="/">
            <img src="/img/Cow.png" alt="DeliArg Logo" height="60" class="responsive-image" />
        </a>
        <h1>DeliArg</h1>
    </div>
    <div class="main">
        <div class="navigation">
            <NavMenu />
        </div>
        <div class="content">
            <main>
                <article class="content">
                    <ErrorBoundary>
                        <ChildContent>
                            @Body
                        </ChildContent>
                        <ErrorContent Context="ex">
                            <p class="error">@ex.Message</p>
                        </ErrorContent>
                    </ErrorBoundary>
                </article>
                <FluentToastContainer MaxToastCount="10" />
            </main>
        </div>
    </div>
</div>